* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'BioRhyme', serif;
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    background-color: aquamarine;
}

.navegacao{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1.5rem;
    background-color: aquamarine;
}

.conteudo-flex-linha{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    width: 100%;

}

.hamburger {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	display: none;
}

.hamburger > div {
	height: 4px;
	background: #ffffff;
	width: 100%;
	border-radius: 20px;
}

@media only screen and (max-width: 730px) {
    .link {
		display: none;
	}

    .hamburger {
		display: flex;
	}
}